@charset "UTF-8";
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v32-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  list-style-type: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: "Roboto";
}

#bandeau {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.65);
}
#bandeau #logo {
  width: 81px;
}
#bandeau button {
  background: none;
  border: none;
}
#bandeau .fa-bars {
  margin-right: 30px;
  font-size: 40px;
  color: #237B62;
}
#bandeau #menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Opacité sur l’arrière-plan */
  z-index: 5; /* Derrière le menu burger mais devant le reste */
  opacity: 0; /* Initialement invisible */
  visibility: hidden; /* Empêche les clics quand invisible */
  transition: opacity 0.7s ease, visibility 0.7s;
}
#bandeau #menu-overlay.active {
  opacity: 1; /* Rend l'overlay visible */
  visibility: visible; /* Active les clics */
}
#bandeau #menuburger {
  position: fixed;
  right: 0%;
  top: 0%;
  background-color: #FFF;
  width: 300px;
  height: 100vh;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.7s ease, opacity 0.7s ease, visibility 0.7s;
  z-index: 10; /* Devant l'overlay */
}
#bandeau #menuburger ul #xmark1 {
  height: 100px;
  font-size: 50px;
  color: #237B62;
  display: flex;
  justify-content: right;
}
#bandeau #menuburger ul #xmark1 a {
  top: 23%;
  height: 50px;
  font-size: 50px;
}
#bandeau #menuburger ul li a {
  height: 80px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  color: #237B62;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
#bandeau #menuburger ul li a i {
  color: #237B62;
  margin-left: 30px;
}
#bandeau #menuburger.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.slider-wrapper {
  margin-top: 40px;
}
.slider-wrapper .nivoSlider {
  border-radius: 24px;
}
.slider-wrapper .nivo-caption {
  height: 240px;
  background-color: #237B62;
  opacity: 1;
  text-align: center;
}
.slider-wrapper .nivo-caption h2 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}
.slider-wrapper .nivo-caption p {
  margin-bottom: 25px;
}
.slider-wrapper .nivo-caption a {
  background-color: #FFF;
  border-radius: 30px;
  padding: 14px 48px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #237B62;
}

.slider-wrapper.active {
  opacity: 0.8;
}

.theme-default .nivo-controlNav a {
  background-color: #D9D9D9;
  border-radius: 50px;
  width: 16px;
  height: 16px;
  margin: 4px;
}

.nivo-controlNav a.active {
  background-color: #237B62;
  border-radius: 50px;
  width: 16px;
  height: 16px;
}

.theme-default .nivo-directionNav a {
  background: url(../themes/default/chevron-left-solid.svg) no-repeat;
  color: #FFF;
}

#trouver h3 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
#trouver iFrame {
  border-radius: 24px;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}
#trouver p {
  text-align: center;
}
#trouver a {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: #237B62;
  width: 175px;
  height: 50px;
  align-items: center;
  border-radius: 24px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #FFF;
  border: none;
}
#trouver a:hover {
  background-color: #C45D08;
}

footer ul {
  border-top: 1px solid rgba(0, 0, 0, 0.65);
  margin-top: 70px;
}
footer ul li {
  margin: 24px;
}
footer ul li a {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.65);
}
footer ul li:first-child {
  margin-top: 30px;
}
footer ul li:last-child {
  margin-bottom: 70px;
}

#pagevisite {
  margin-top: 100px;
  margin-bottom: 260px;
}
#pagevisite .visite {
  margin-top: 50px;
  display: flex;
  align-items: center;
  background-color: #237B62;
  border-radius: 24px;
}
#pagevisite .visite img {
  width: 110px;
  border-radius: 24px 0 0 24px;
}
#pagevisite .visite h2 {
  color: #FFF;
  font-size: 1rem;
  margin: 0 auto;
}

#visiteparticulier {
  margin-bottom: 200px;
}
#visiteparticulier #contenu h1 {
  margin-top: 30px;
  font-size: 1.2rem;
}
#visiteparticulier #contenu p {
  margin: 60px 0;
}
#visiteparticulier #contenu img {
  width: 100%;
  border-radius: 24px;
}
#visiteparticulier .pedago {
  width: 100%;
  background-color: #237B62;
  border-radius: 24px;
  margin-top: 40px;
}
#visiteparticulier .pedago h3,
#visiteparticulier .pedago p {
  color: #FFF;
  text-align: center;
  margin: 0 20px;
  padding: 20px 0;
}
#visiteparticulier .pedago h3 {
  font-weight: bold;
}
#visiteparticulier .pedago p {
  font-size: 0.9rem;
  font-weight: lighter;
}

#formulaire {
  margin-bottom: 200px;
}
#formulaire h1 {
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: normal;
}
#formulaire form p {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
#formulaire form p select,
#formulaire form p input {
  margin-top: 10px;
  border: 1px solid #237B62;
  border-radius: 20px;
  height: 66px;
}
#formulaire form p select {
  text-align: center;
  font-size: 1rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
#formulaire form p textarea:focus,
#formulaire form p input:focus,
#formulaire form p select:focus {
  outline: none;
  border-color: #C45D08;
}
#formulaire form p textarea {
  border: 1px solid #237B62;
  border-radius: 24px;
  margin-top: 10px;
}
#formulaire button {
  margin-top: 30px;
  background-color: #237B62;
  width: 175px;
  height: 50px;
  align-items: center;
  border-radius: 24px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #FFF;
  border: none;
}
#formulaire button:hover {
  background-color: #C45D08;
}

#reserver {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: #237B62;
  width: 175px;
  height: 50px;
  align-items: center;
  border-radius: 24px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #FFF;
  border: none;
}

#reserver:hover {
  background-color: #C45D08;
}

#heberg .loc {
  display: grid;
  width: 100%;
  grid-template-columns: 33% 33% 33%;
}

@media screen and (max-width: 374px) {
  .container {
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
  }
  .slider-wrapper .nivoSlider {
    height: 500px;
  }
  #pagevisite .visite h2 {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }
  .slider-wrapper .nivoSlider {
    height: 550px;
  }
}
@media screen and (min-width: 425px) {
  .container {
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
  }
  .slider-wrapper .nivoSlider {
    height: 600px;
  }
}

/*# sourceMappingURL=style.css.map */
