@import "mixin";
@import "colors";
@import "fonts";

*{
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: $fontPrincipal;
}

@include navbarMobile;
